@import url('commoncssvariable.css');

@import url('general.css');

@import url('css-clicker.css');

@import url('header.css');

@import url('leftsidemenubar.css');

@import url('slider.css');

@import url('card.css');

@import url('rightsidemenubar.css');


.main {

    position: absolute;
    top: 80px;
    width: 100%;
    justify-content: space-around;
}

.main-other-two-sections-holder {
    position: absolute;
    right: 0px;
    width: calc(100% - 190px);
    justify-content: space-evenly;
}

.leftside-container {
    position: fixed;
    left: 5px;
    height: 500px;
    overflow: hidden;
    width: 185px;
    margin: 0px auto;
    background-color: black;
    z-index: 9;
}

.rml-sidebar-menu {
    cursor: pointer;
}

.rml-sidebar-menu:hover {
    color: red;
    text-shadow: var(--main-text-shadow);
}

.rml-logo {
    cursor: pointer;
    transition: transform 250ms linear;
}

.rml-logo:hover {
    transform: scale(0.98);
}


.middle-container {
    position: relative;
    width: calc(100% - 280px);
}

.rightside-container {
    position: relative;
    width: 260px;
    background-color: var(--main-bg-color-light);
}

.trending-section {
    background-color: var(--main-bg-color-light);
    margin-bottom: 20px;
}

.trending-content-holder {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 22%); */
    margin-top: 20px;
    justify-content: space-evenly;
}

.recommended-section {
    background-color: var(--main-bg-color-light);
    margin-bottom: 20px;
}

.recommended-content-holder {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 22%); */
    margin-top: 20px;
    justify-content: space-evenly;
}

.popular-section {
    background-color: var(--main-bg-color-light);
    margin-bottom: 20px;
}

.popular-content-holder {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 22%); */
    margin-top: 20px;
    justify-content: space-evenly;
}

.latest-section {
    background-color: var(--main-bg-color-light);
    margin-bottom: 20px;
}

.latest-content-holder {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 22%); */
    margin-top: 20px;
    justify-content: space-evenly;
}

.featured-section {
    background-color: var(--main-bg-color-light);
    margin-bottom: 20px;
}

.featured-content-holder {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 22%); */
    margin-top: 20px;
    justify-content: space-evenly;
}

.caption {
    position: sticky;
    top: 59px;
    z-index: 4;
    background-color: #171515;
    /* background-color: var(--caption-bg-color); */
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    font-family: var(--main-font-family);
    line-height: 2;
}

.trending-icon{
    height: 40px;
    width: 40px;
    background-image: url("../images/rml-icons/icons_index.png");
    background-position: 40px 277px;
    background-size: 150px 497px;
}
.featured-icon{
    height: 40px;
    width: 40px;
    background-image: url("../images/rml-icons/icons_index.png");
    background-position: 40px 277px;
    background-size: 150px 497px;
}

.latest-icon{
    height: 40px;
    width: 40px;
    background-image: url("../images/rml-icons/icons_index.png");
    background-position: 40px 277px;
    background-size: 150px 497px;
}

.popular-icon{
    height: 40px;
    width: 40px;
    background-image: url("../images/rml-icons/icons_index.png");
    background-position: 40px 277px;
    background-size: 150px 497px;
}
.featured-icon{
    height: 40px;
    width: 40px;
    background-image: url("../images/rml-icons/icons_index.png");
    background-position: 40px 277px;
    background-size: 150px 497px;
}
.recommended-icon{
    height: 40px;
    width: 40px;
    background-image: url("../images/rml-icons/icons_index.png");
    background-position: 40px 212px;
    background-size: 150px 497px;
}

.gridlist-toggle-icon {
    margin-left: auto;
    margin-right: 10px;
}

.fa-th {
    font-size: 20px;
}

@media only screen and (max-width: 1025px) {
    .main {
        justify-content: space-evenly;
    }

    .main-other-two-sections-holder {
        width: 100%;
    }

    .leftside-container {
        display: none;
        position: absolute;
        margin-left: 0px;
        left: 5px;
        background: black;
    }

    .middle-container {
        width: calc(100% - 280px) !important;
    }
    .nav-right {
        width: 247px;
    }

    .creatcontent p {
        font-size: 14px;
    } 

    .nav-username {
        font-size: 13px;
    }

    .css-toggle-button-hidden-2:checked + .leftside-container {
        /* margin-left: -190px; */
        /* margin-left: -228px; */
        display: block;
    }

}

@media only screen and (max-width: 900px) {
    .middle-container {
        width: calc(100% - 20px) !important;
    }

    .rightside-container {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0px 0.8% 0px 0.6%;
    }
    .nav-middle {
        width: 50%;
    }

    .nav-right {
        width: 80px;
    }

    .moreicons-dropdown img {
        width: 35px;
    }

    .nav-username {
        display: none;
    }

    .list-item:first-child {
        display: block;
    }

    .list-item:not(:last-child):not(:first-child) {
        display: none;
    }

    .nav-user-item:nth-child(2) {
        display: block;
    }
    
    .nav-user-item:nth-child(3) {
        display: block;
    }

}

@media only screen and (max-width: 591px) {
    .nav-middle {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    .nav-middle {
        display: none;
    }
}




