.css-toggle-button-hidden {
    display: none;
}

.css-toggle-button-hidden-2 {
    display: none;
}

.css-toggle-button-hidden:checked + label + .list-topic-dropdown {
    visibility: visible;
    height: 684px;
}

.css-toggle-button-hidden:checked + label + .recommened-channels-dropdown {
    visibility: visible;
    height: 225px;
}

.css-toggle-button-hidden:checked + label + .trending-channels-dropdown {
    visibility: visible;
    height: 80px;
}
.list-topic-dropdown {
    transition: all 200ms linear;
}

.recommened-channels-dropdown {
    transition: all 150ms linear;
}

.trending-channels-dropdown {
    transition: all 100ms linear;
}

.css-toggle-button-hidden:checked + label + ul {
    display: block;
}

/* .css-toggle-button-hidden:checked + label + .list-topic-dropdown {
    visibility: visible;
    height: 684px;
} */

.css-toggle-button-hidden:checked + .leftside-menubar-items-title {
    color: red;
    border-bottom: 1px solid red;
    text-shadow: var(--main-text-shadow);
}

.css-toggle-button-hidden:checked + .nav-creatcontent-title {
    color: red;
    border-bottom: 2px solid red;
    text-shadow: var(--main-text-shadow);
}

.css-toggle-button-hidden:checked + .nav-user-title {
    color: red;
    border-bottom: 2px solid red;
    text-shadow: var(--main-text-shadow);
}

.css-toggle-button-hidden:checked + label .down-icon {
    display: none;
}

.css-toggle-button-hidden:checked + label .up-icon {
    display: block;
}

.css-toggle-button-hidden-2:checked + .leftside-container {
    /* margin-left: -190px; */
    /* margin-left: -228px; */
    display: none;
}

.css-toggle-button-hidden-2:checked ~ .middle-container {
    width: calc(100% - 280px);
}